@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
:root {
  height: 100%;
}

.landing-container {
  @apply max-w-7xl mx-auto px-8 py-24;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
} */

/* Loader */
